body {
  color: #222222;
  font-family: sans-serif;
}

.loading {
  background-color: white;
  font-size: 2em;
  font-weight: bold;
  height: 100%;
  opacity: .75;
  position: absolute;
  width: 100%;
  z-index: 1;
}
