header {
  height: 10em;
  margin-bottom: 1em;
  max-width: 100%;
}

header img {
  max-height: 10em;
  display: block;
}

.loading {
  background-color: white;
  font-size: 2em;
  font-weight: bold;
  height: 100%;
  opacity: .75;
  position: absolute;
  width: 100%;
  z-index: 1;
}