:local(.character-detail) {
  border-radius: 5px 5px;
  background-color: #222222;
  color: white;
  list-style-type: none;
  margin: .5em auto;
  padding: .5em;
  width: fit-content;
}

:local(.character-detail) th {
  text-align: center;
}

:local(.character-detail) h2 {
  background-color: rgb(34, 34, 34, .75);
  margin: 0;
  position: absolute;
}

:local(.character-detail) td {
  padding-bottom: .5em;
}

:local(.character-detail) td:first-child {
  color: white;
}

:local(.character-detail) td:nth-child(2) {
  color: orange;
  text-align: right;
}

:local(.character-detail) ul {
  list-style-type: none;
  padding-left: 0;
}

:local(.character-detail) li {
  margin-top: 3px;
}

:local(.character-detail) a, a:visited {
  color: orange;
  text-decoration: none
}