:local(.results-li) {
  border-radius: 5px 5px;
  background-color: #222222;
  color: white;
  float: left;
  list-style-type: none;
  margin: .5em;
  max-width: 300px;
  padding: .5em;
}

:local(.results-li) th {
  text-align: center;
}

:local(.results-li) h2 {
  background-color: rgb(34, 34, 34, .75);
  margin: 0;
  position: absolute;
}

:local(.results-li) td {
  padding-bottom: .5em;
}

:local(.results-li) td:first-child {
  color: white;
}

:local(.results-li) td:nth-child(2) {
  color: orange;
  text-align: right;
}