:local(.results-li) {
  background-color: #222222;
  border-radius: 5px 5px;
  box-shadow: 3px 3px black;
  float: left;
  list-style-type: none;
  margin: .5em;
  padding: .5em;
}

:local(.results-li) h2 {
  color: white;
}

:local(.results-li) p {
  color: orange;
}

:local(.results-li) p:nth-child(2) {
  color: orange;
  font-size: 1.3em;
  font-weight: bold;
}